body{
    background-color:#fbf0e5;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-size: 400px;
    background-repeat: no-repeat;
    }
   header{
    background-color: #F6F6F4;
    padding-bottom: 10px;
   }

section{
    background-color: #fbf0e5;
    background-image: url(./../Untitled\ design.svg);
    
    background-size: contain;

}
article{
    margin: 20px;
}
h1{
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-size: 100px;
    color: #C98E6A;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
}
h2{
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-size: 100px;
    color: #C98E6A;
}
h6{
    text-align: left;
    font-size: 8px;
}
a{
    color: #C98E6A;
    text-decoration: none;
}
a:hover{
    color: #e0a987;
}
section p{
    text-align: left;
}
img{
    box-shadow: black;
}
button{
    background-color: #C98E6A;
    color: antiquewhite;
    border-width: 20px;
    border: #b87144;
    border-radius: 10px;
    padding:10px;
    box-shadow: 18px 19px 20px rgba(0, 0, 0, 0.2);
}
.album-heading{
    position: relative;
    bottom: 50px;
}
.navbar-nav{
    color: #C98E6A;
}
.spotify-link{
    text-decoration: none;
    background-color: #C98E6A;
    padding: 20px;
    border-radius: 10px;
    color: antiquewhite;
    margin-top: 20px; 
    box-shadow: 18px 19px 20px rgba(0, 0, 0, 0.2);

}
.spotify-link:hover{
    color: #C98E6A;
    background-color: antiquewhite;
   
}
.card{
    margin: 0px auto;
    padding: 20px 50px;
    max-width: 60%;
    
}
.audio-divs{
    margin-bottom: 50px;
}
.social-links{
    text-decoration: none;
    border-radius: 10px;
    color:  #C98E6A;
}
#about{
    text-align: center;
}
.hidden{
    display: none !important;
}

